.main img {
    width:  calc(100% - 15vw);
    margin-top: 10vh;
    position: absolute;
    margin-top:10vh;
    width: calc(100% - 15vw);
    max-width: 1200px;
    max-height: 80vh;
    z-index: -1;
    right: 15vw;
}

 .iphone_intro {
    position:absolute;
    margin-top: 30vh;
    margin-left: 40px;
    width: 65vw;
    font-size: 1.5em;
}

.iphone_intro h1, .iphone_ intro h2 {
    font-weight: 100;
}